__pycache__/
*.py[cod]
.direnv/
.venv/
result
state/
data/downloads/
data/extracted/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
